<!DOCTYPE html>
<html>
    <head>
        <title>JMR IV</title>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    </head>
    <body class="page-body" ng-app="HomepageModule" ng-controller="HomepageCtrl" ng-cloak>

        <!-- Intro Section -->
        <section id="intro" class="intro-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p><strong>Joseph M. Ryan IV</strong></p>
                        <a class="btn btn-default page-scroll" href="#recommendations">Click Me to Scroll Down!</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Recommendations Section -->
        <section id="recommendations" class="recommendations-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><strong>Recommendations Section</strong></h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section id="about" class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><strong>About Section</strong></h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services Section -->
        <section id="education" class="education-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><strong>Education Section</strong></h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1><strong>Contact Section</strong></h1>
                        <p>jryan.sqa@gmail.com</p>
                        <p>559.618.0337</p>
                        <p><a href="https://www.linkedin.com/in/joseph-ryan-5703058a" target="_blank"><img src="/images/linkedin.jpg" alt="LinkedIn" width="60px"></a></p>
                        <p><a href="/images/resumeJRyan.pdf" download><img src="/images/pdf.png" alt="PDF" width="30px"></a></p>
                    </div>
                </div>
            </div>
        </section>



        <div class="container-fluid">
            <div class="container">
                <div>
                
                </div>
                <footer class="footer">
                </footer>
            </div>
        </div>
        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/angular.js"></script>
        <script src="/js/dependencies/jquery.easing.min.js"></script>
        <script src="/js/dependencies/angular-animate.min.js"></script>
        <script src="/js/dependencies/angular-toastr.js"></script>
        <script src="/js/dependencies/bootstrap.js"></script>
        <script src="/js/dependencies/bootstrap.min.js"></script>
        <script src="/js/dependencies/compareTo.module.js"></script>
        <script src="/js/dependencies/jquery-ui.js"></script>
        <script src="/js/dependencies/jquery-ui.min.js"></script>
        <script src="/js/dependencies/scrolling-nav.js"></script>
        <script src="/js/dependencies/ui-bootstrap-tpls.js"></script>
        <script src="/js/public/homepage/HomepageModule.js"></script>
        <script src="/js/public/homepage/HomepageCtrl.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>