@import url(https://fonts.googleapis.com/css?family=Jura:600);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

.page-body {
    font-family: 'Slabo 27px', serif;
}

// NAVBAR CONTAINER
.container-fluid {
    padding-left:  0px;
    padding-right: 0px;
}

// NAVBAR BOOTSTRAP CONTAINER CLASS
.navbar {
    border-radius: 0px;
}

.nav-container {
    padding-left: 3%;
    padding-right: 3%;
}

// MOVES NAVBAR OVER
.navbar-nav.navbar-right:last-child {
    margin-right: 2px;
}

h1 {
    text-align: center;
}
